$theme-color: #332b36;
$theme-keypad-color: #3d3240;

body,html{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg,#f87da0,#6f6eb4);
}
#main-holder{
  height: inherit;
  width: inherit;
  margin-right: 0;
  margin-left: 0;
}
#display{
  background-color: $theme-color;
  color: #ffffff;
  text-align: right;
  padding-right: 10px;
  height: auto;
  min-height: 50px;
}
.theme-bg-color{
  background-color: $theme-keypad-color;
  color: #ffffff;
}
.container{
  height: 100vh;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#calc{
  width: 60%;
}
.calc-btn-height{
  min-height: 50px;
  height: auto;
}
.calc-btn-border{
  border: 0.02px solid #272129;
}
.calc-content-layout{
  display: flex;
  justify-content:center;
  align-items: center;
}
.calc-content-layout:hover{
  background-color: #8a6d92;
}

